<div ng-controller="SignInCtrl">
	<form>
		User ID <input type="text"  ng-model="userId"></input><br>
		Password <input type="password"  ng-model="userPassword"></input><br>
		<input type="submit" value="Submit" ng-click="loginUser()"> <br>
    <button ng-click="loadSignup()"> Not a user Sign UP </button>
	</form>
</div>
