<div ng-controller="SignInCtrl">
		<form>
			User_Name <input type="text" ng-model="user_name"></input><br>
			Email <input type="text"  ng-model="email" ng-blur="checkUser()"></input><br>
			Address <input type="text"  ng-model="address"></input><br>
			Password <input type="password"  ng-model="password"></input><br>
			Date Of Birth <input type="date" ng-model="dob" ></input><br>
			<input type="submit" value="Submit" ng-click="createUser()" ng-disabled="!userPresent.user_present_response.already_exists">
		</form>
</div>
